<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Notify Manager</title>
</head>
<body>
    <div id="root"></div>
    <script src="http://127.0.0.1:3000/static/js/bundle.js"></script>
    <script src="http://127.0.0.1:3000/static/js/1.chunk.js"></script>
    <script src="http://127.0.0.1:3000/static/js/main.chunk.js"></script>
</body>
</html>
